h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 12.5px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #000;
}
p {
    margin: 0 0 30.55556px;
}
p:last-child {
    margin-bottom: 0;
}
img {
    max-width: 100%;
    border: 0;
}
/**********First container ***********************/
.principalSection{
    width: 100%;
}
.slideshow-wrapper{
    position: relative;
}
.slideshow{
    overflow: hidden;
    height: 670px;
    margin-bottom: 0;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-track {
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}
.slideshow__slide {
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slideshow__image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 1;
}
.slideshow__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slideshow__text-wrap {
    height: 100%;
}
.slideshow__text-content {
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 80px 15px;
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    transition: all 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
    transition-delay: 0.3s;
    z-index: 3;
}
@media (min-width: 769px){
    .section-slider.left {
        margin-left: 50%;
        margin-right: 30px;
        width: calc(50% - 30px );
    }
}
@media (max-width: 991px){
    .section-slider.left {
        margin: 0 auto;
        text-align: center;
    }
}
.slideshow__title {
    letter-spacing: -5px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 90px;
    line-height: 90px;
    font-style: italic;
}
@media (max-width: 991px){
    .slideshow__title {
        font-size: 60px !important;
        line-height: 60px !important;
    }
}
.slideshow__subtitle {
    color: #8fac47;
    font-size: 90px;
    line-height: 90px;
    font-style: normal;
}
@media (max-width: 991px){
    .slideshow__subtitle {
        font-size: 48px !important;
        line-height: 48px !important;
    }
}
.slideshow__subtitle {
    letter-spacing: -5px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    display: block;
}
.slideshow__slider_txt {
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin-top: 20px;
}
.section-slider .mega-slider_txt {
    color: #555555;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
}
@media (min-width: 769px){
    .section-slider.left .slideshow__slider_txt {
        max-width: none;
    }
}
.slider--button {
    margin-top: 50px;
}
.btn-Shop-now{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0; 
    padding: 20px 27px;
    background-color: #8fac47;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    white-space: normal;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 9999px;
}
.btn-Shop-now::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a6c066;
    border-radius: 3px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/********** end First container ***********************/
/**********Second container ***********************/
.section-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
}
.section-feature-inner{
    padding-top: 120px;
    padding-bottom: 60px;
}
.page-width {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
}
.page-width::after {
    content: '';
    display: table;
    clear: both;
}
@media (max-width: 991px){
    .section-feature-image .page-width {
        padding: 60px 15px 0;
    }
}
.grid {
    *zoom: 1;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}
.grid::after {
    content: '';
    display: table;
    clear: both;
}
.grid__item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.pb-60 {
    padding-bottom: 60px;
}
@media (min-width: 769px){
    .medium-up--one-half {
        width: 50%;
    }
}
@media (max-width: 991px){
    .section-feature-image .grid .grid__item {
        width: 100% !important;
    }
}
.feature-image .features-heading {
    padding-bottom: 20px;
}
.features-heading.heading-box .features-heading__image {
    padding-bottom: 5px;
}
.featured-row__title {
    opacity: 1;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1.2s 0s,transform 1.2s 0s;
    -o-transition: opacity 1.2s 0s,transform 1.2s 0s;
    transition: opacity 1.2s 0s,transform 1.2s 0s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    will-change: opacity,transform;
    display: block;
}
.featured-row__title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: -1px;
}
.rte-setting {
    margin-bottom: 40px;
}
@media (min-width: 769px){
    .featured-row__subtext {
        font-size: 16px;
    }
}
@media (max-width: 749px){
    #FeatureRowImageWrapper-feature-row {
        max-width: 570px;
    }
}
.feature-row__image-wrapper {
    position: relative;
    width: 100%;
}
@media (min-width: 750px){
    #FeatureRowImageWrapper-feature-row {
        max-width: 570px;
        max-height: 420px;
    }
}
.feature-row__image-wrapper .feature-row__image {
    width: 100%;
    position: absolute;
    top: 0;
}
.feature-row__image {
    display: block;
    margin: 0 auto;
}
@media(max-width: 749px){
    #FeatureRowImage-feature-row {
        max-width: 570px;
        max-height: 750px;
    }
}
@media(min-width: 750px){
    #FeatureRowImage-feature-row {
        max-width: 570px;
        max-height: 420px;
    }
}
/**********end Second container ***********************/
/*****************Third container start ****************/
.feature-row__bg-image{
    position: relative;
    width: 100%;
    height: auto;
}
.secondContainerImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.feature-row .feature-row__text--right {
    float: right;
}
@media (min-width: 769px){
    .medium-up--one-half {
        width: 50%;
    }
}
.features-heading {
    padding-bottom: 40px;
}
.features-heading__description {
    margin-top: 20px;
}
.features_list {
    margin: 30px 0;
}
.features_list .features-images {
    display: inline-block;
    float: left;
    width: 60px;
}
.features-heading img {
    padding-bottom: 5px;
}
.features-description {
    overflow: hidden;
    padding-left: 20px;
}
.features_list .title {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}
.features_list h4, .features_list .h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}
.features_list .decription {
    line-height: 30px;
}
.innerOrderProcessing{
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
}
.container-createYour{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.container-createYour{
    max-width: 1140px;
}
@media (max-width: 1024px){
    .container-createYour {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (max-width: 1024px){
    .container-createYour {
        max-width: 1025px;
    }
}
@media (max-width: 767px){
    .container-createYour {
        max-width: 768px;
    }
}
.elementor-row{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 1024px){
    .elementor-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.elementor-column{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 767px){
    .elementor-column {
        width: 100%;
    }
}
.elementor-column-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column-wrap {
    width: 100%;
}
.elementor-element-populated {
    padding: 10px;
}
.elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor-element-df44b6d {
    text-align: center;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}
.elementor-heading-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}
.elementor-section{
    width: 100%;
    position: relative;
}
.elementor-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@media (max-width: 1024px){
    .elementor-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.elementor-container {
    max-width: 1140px;
}
@media (max-width: 1024px){
    .elementor-container {
        max-width: 1025px;
    }
}
@media (max-width: 767px){
    .elementor-container {
        max-width: 768px;
    }
}
.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 1024px){
    .elementor-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.elementor-column{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 1px;
}
.elementor-element-populated-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 5% 5% 5% 5%;
    padding: 8% 5% 5% 5%;
}
.elementor-column-wrap{
    border-radius: 3px 3px 3px 3px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.elementor-widget-wrap {
    align-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}
.elementor-icon-wrapper {
    text-align: center;
}
.elementor-icon {
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #818a91;
    font-size: 50px;
    text-align: center;
    width: 60px;
    height: 60px;
}
.elementor-icon svg{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.elementor-heading-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    margin: 12.5px 0;
    font-style: normal;
    word-wrap: break-word;
    color: #000;
}
/********************Third contianer ends****************/