{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Terminos y condiciones" %}{% endblock %}
{% block extra_links %}

{%endblock %}


{% block content %}

<div class="entry-content clear" itemprop="text">
  <div class="elementor elementor-499">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-36632de elementor-section-boxed elementor-section-height-default elementor-section-height-default">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5836a17">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-eb804ac elementor-widget elementor-widget-text-editor">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <p>
                            <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                    Términos Y Condiciones Generales
                                </div>
                            </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                    Tabla de Condiciones
                                </div>
                            </div>
                            <br/>
                            <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                    Artículo 1 - Definiciones
                                </div>
                            </div>
                                <div style="vertical-align: inherit">
                                    Artículo 2 - Identidad de Accha Store
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo 3 - Aplicabilidad
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo 4 - Oferta
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo 5 - Acuerdo
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo  6 - Conformidad y garantía
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo  7 - Gasto en caso de devolución
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo  8 - El precio
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo  9 - Entrega e implementación
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo 10 - Pago
                                </div>
                                <div style="vertical-align: inherit">
                                    Artículo  11 - Procedimiento de reclamaciones
                                </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit"
                              ><div style="vertical-align: inherit"
                                >Artículo  1 - Definiciones
                              </div>
                            </div
                            ><br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                En estas condiciones, los siguientes términos
                                tienen los siguienes significados:
                                </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Período de reflexión: período dentro del cual el
                                consumidor puede hacer uso de su derecho a
                                devolución;
                              </div>
                            </div>
                            <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Consumidor: La persona física que suscribe un
                                contrato a distancia con Accha Store;
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Día: día de calendario;
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Transacción de duración: contrato a distancia
                                relativo a una serie de productos y/o servicios,
                                cuya obligación de entrega y/o compra se extiende
                                en el tiempo;
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Medio duradero: Cualquier medio que permita al
                                consumidor o Accha Store almacenar información
                                que se le dirige personalmente de forma que
                                permita una futura consulta y reproducción
                                inalterada de la información almacenada
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Derecho de devolución:La opción del consumidor
                                de cancelar el contrato a distancia dentro del
                                período de reflexión
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Accha Store: la persona física o jurídica que ofrece
                                productos y/o servicios a los consumidores.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                Contrato a la distancia:acuerdo organizado por
                                Accha Store para la venta a distancia de productos
                                y / o servicios, solo se utilizan técnicas de
                                comunicación a distancia.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                  Tecnología para la comunicación a distancia:
                                  medio que se puede utilizar para celebrar un
                                  acuerdo, sin que el consumidor y Accha Store
                                  estén juntos en la misma habitación al mismo tiempo.
                                </div>
                              </div>
                        </p>
                          <p>
                            <div style="vertical-align: inherit"
                              ><div style="vertical-align: inherit"
                                >Artículo  2 - Identidad de Accha Store
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                  Av. 6 de diciembre No.24417 y Luis Cordero
                                  Ed.Novus Piso 3 Of. 302
                                </div>
                              </div
                                <div>
                                  Quito, Ecuador
                                </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                  E-mail: marketing@gmail.com
                                  </div>
                                </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit"
                              ><div style="vertical-align: inherit"
                                >Artículo  3 - Aplicabilidad
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit"
                                ><div style="vertical-align: inherit">
                                  Estos términos y condiciones generales se aplican
                                  a todas las ofertas de Accha Store y a todos los
                                  contratos y pedidos a distancia celebrados entre
                                  Accha Store y el consumidor.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                  Antes de que se celebre el contrato a distancia,
                                  el texto de estos términos y condiciones generales
                                  se pondrá a disposición del consumidor.
                                </div>
                              <div style="vertical-align: inherit">
                                Si esto no es razonablemente posible, antes de
                                que se celebre el contrato a distancia, se indicará
                                que los términos y condiciones generales se pueden
                                ver en Accha Store y que se enviarán sin cargo
                                lo antes posible a solicitud del consumidor.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Si el contrato a distancia se concluye electrónicamente,
                                como excepción al párrafo anterior y antes de que
                                se cancele el contrato a distancia, el texto de
                                estos términos y condiciones generales puede
                                ponerse a disposición del consumidor por vía
                                electrónica de tal manera que puedan ser se
                                almacena fácilmente en un soporte de datos duradero.
                                </div>
                              <div style="vertical-align: inherit">
                                Si esto no es razonablemente posible, antes de la
                                celebración del contrato a distancia, se indicará
                                dónde se pueden inspeccionar electrónicamente los
                                términos y condiciones generales y que se enviarán
                                de forma gratuita por vía electrónica o de otro
                                modo a petición del consumidor.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                En el caso de que se apliquen condiciones específicas
                                de producto o servicio en adición a los términos
                                y condiciones generales, los párrafos segundo y
                                tercero se aplican mutatis mutandis y en caso de
                                términos y condiciones generales en conflicto,
                                el consumidor siempre puede invocar la disposición
                                aplicable que sea más favorable a él.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Si una o más disposiciones en estos términos y
                                condiciones generales son en cualquier momento
                                total o parcialmente nulas y sin efecto o destruidas,
                                el acuerdo y estos términos y condiciones permanecerán
                                en vigor y la disposición relevante será reemplazada
                                inmediatamente en consulta mutua por una disposición
                                que el significado del original lo más fielmente posible.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Las situaciones que no están reguladas en estos
                                términos y condiciones generales deben evaluarse
                                "en el espíritu" de estos términos y condiciones
                                generales.
                              </div>
                                </div>
                            <br />
                              <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Las incertidumbres sobre la explicación o el
                                contenido de una o más disposiciones de nuestros
                                términos y condiciones deben explicarse "en el
                                espíritu" de estos términos y condiciones generales.
                              </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  4 - Oferta
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Si una oferta tiene un período de validez limitado
                                o está sujeta a condiciones, esto se indicará
                                explícitamente en la oferta.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                La oferta es sin compromiso
                                </div>
                              <div style="vertical-align: inherit">
                                Accha Store tiene derecho a modificar y adaptar
                                la oferta.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                La oferta contiene una descripción completa y
                                precisa de los productos y / o servicios ofrecidos..
                                </div>
                                <div style="vertical-align: inherit">
                                La descripción es lo suficientemente detallada
                                para que el consumidor pueda realizar una
                                evaluación adecuada de la oferta.
                                </div>
                                <div style="vertical-align: inherit">
                                Si Accha Store utiliza imágenes, estas son una
                                verdadera representación de los productos y / o
                                servicios ofrecidos.
                                </div>
                                <div style="vertical-align: inherit">
                                Los errores obvios o errores en la oferta no son
                                vinculantes para Accha Store.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Todas las imágenes, especificaciones y datos de
                                la oferta son indicativos y no pueden dar lugar
                                a compensación o rescisión del contrato.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                  Las imágenes con productos son una verdadera
                                  representación de los productos ofrecidos.
                                </div>
                                <div style="vertical-align: inherit">
                                  Accha Store no puede garantizar que los colores
                                  mostrados coincidan exactamente con los colores
                                  reales de los productos.
                                </div>
                              </div>
                            <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Cada oferta contiene los derechos
                                y obligaciones del consumidor,que esté acepta al
                                aceptar la oferta.
                              </div>
                                <div style="vertical-align: inherit">
                                Esto se refiere en particular a:
                              </div>
                              <div style="vertical-align: inherit">
                                precio incluyendo impuestos;
                              </div>
                              <div style="vertical-align: inherit">
                                los posibles costos de envio;
                              </div>
                              <div style="vertical-align: inherit">
                                la forma en que se celebrará el acuerdo y qué
                                 acciones se requieren para ello;
                              </div>
                              <div style="vertical-align: inherit">
                                si se aplica o no el derecho de desistimiento;
                              </div>
                              <div style="vertical-align: inherit">
                                el método de pago, entrega e implementación del acuerdo;
                              </div>
                              <div style="vertical-align: inherit">
                                el plazo de aceptación de la oferta, o el plazo dentro del cual Accha Store garantiza el precio;
                              </div>
                              <div style="vertical-align: inherit">
                                el nivel de la tarifa para la comunicación a
                                distancia si los costos de usar la técnica para
                                la comunicación a distancia se calculan sobre una
                                 base diferente a la tarifa básica regular para
                                 los medios de comunicación utilizados;
                              </div>
                              <div style="vertical-align: inherit">
                                si el acuerdo se archivará después de la celebración
                                y, de ser así, cómo puede ser consultado por el consumidor;
                              </div>
                              <div style="vertical-align: inherit">
                                la forma en que el consumidor, antes de celebrar
                                el acuerdo, puede verificar la información proporcionada
                                por él en virtud del acuerdo y, si es necesario, restaurarla;
                              </div>
                              <div style="vertical-align: inherit">
                                cualquier otro idioma en el que, además del español, se pueda celebrar el acuerdo;
                              </div>
                              <div style="vertical-align: inherit">
                                los códigos de comportamiento a los que está sujeto
                                Accha Store y la forma en que el consumidor puede
                                consultar estos códigos de comportamiento de forma electrónica; y
                               </div>
                               <div style="vertical-align: inherit">
                                 y, la duración mínima del contrato a distancia
                                 en caso de una transacción ampliada.
                               </div>
                               <div style="vertical-align: inherit">
                                 Opcional: tamaños disponibles, colores, tipo de materiales.
                               </div>
                            </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  5 - Acuerdo
                              </div>
                              </div>
                            <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                El acuerdo se concluye en el momento en que el
                                consumidor acepta la oferta y cumple las condiciones
                                correspondientes.
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Si el consumidor ha aceptado la oferta por vía
                                electrónica, Accha Store confirmará inmediatamente
                                la recepción de la aceptación de la oferta por vía electrónica.
                                Siempre que Accha Store no haya confirmado la
                                recepción de esta aceptación, el consumidor puede
                                disolver el contrato.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Si el acuerdo se concluye electrónicamente,
                                Accha Store tomará las medidas técnicas y
                                organizativas adecuadas para asegurar la
                                transferencia electrónica de datos y
                                garantizar un entorno web seguro.
                                </div>
                              <div style="vertical-align: inherit">
                                Si el consumidor puede pagar electrónicamente,
                                Accha Store tomará las medidas de seguridad correspondientes.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Accha Store puede, dentro de los marcos legales,
                                indagar si el consumidor puede cumplir con sus
                                obligaciones de pago, así como todos aquellos
                                hechos y factores que son importantes para una
                                celebración responsable del contrato a distancia.
                                </div>
                              <div style="vertical-align: inherit">
                                Si, sobre la base de esta investigación,
                                Accha Store tiene buenas razones para no
                                celebrar el acuerdo, tiene derecho a rechazar
                                un pedido o solicitud, exponiendo los motivos,
                                o a adjuntar condiciones especiales para la
                                implementación.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Accha Store enviará la siguiente información
                                con el producto o servicio al consumidor,
                                por escrito o de tal manera que pueda ser
                                almacenada por el consumidor de manera accesible
                                en un soporte duradero:
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                  a. La dirección de visita de la ubicación
                                  comercial de Accha Store donde el consumidor
                                  puede acudir con quejas;
                                </div>
                                <div style="vertical-align: inherit">
                                  b. las condiciones bajo las cuales y la forma
                                  en que el consumidor puede hacer uso del derecho
                                  de desistimiento, o una declaración clara sobre
                                  la exclusión del derecho de desistimiento;
                                </div>
                                <div style="vertical-align: inherit">
                                  c. información sobre garantías y servicio postventa
                                  existente;
                                </div>
                                <div style="vertical-align: inherit">
                                  d. la información incluida en el Artículo 4 párrafo 3
                                  de estos términos y condiciones, a menos que
                                  Accha Store ya haya proporcionado esta información
                                  al consumidor antes de la ejecución del contrato;
                                </div>
                                <div style="vertical-align: inherit">
                                  e. los requisitos para rescindir el contrato si
                                  el contrato tiene una duración superior a un año
                                  o es indefinido.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                En el caso de una transacción extendida,
                                la disposición del literal e. anterior solo se
                                aplica a la primera entrega.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                                <div style="vertical-align: inherit">
                                Cada acuerdo se celebra bajo las condiciones de
                                suficiente disponiblidad de los productos en cuestión.
                                </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  6 - Conformidad y garantía
                              </div>
                            </div>
                            <br />
                             <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Accha Store garantiza que los productos y / o
                                servicios cumplen con el contrato, las especificaciones
                                indicadas en la oferta, los requisitos razonables de solidez
                                y / o usabilidad, y las disposiciones legales y / o
                                normativas gubernamentales vigentes, en la fecha de realización del contrato
                              </div>
                               <div style="vertical-align: inherit">
                                Si Accha Store lo estipula antes del contrato,
                                también se garantiza que el producto es adecuado
                                para un uso diferente al normal.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Una garantía proporcionada por Accha Store, el
                                fabricante o el importador no afecta los derechos
                                legales y reclamaciones que el consumidor puede
                                hacer valer contra Accha Store sobre la base del acuerdo.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Cualquier defecto o producto entregado incorrectamente
                                debe ser informado a Accha Store por escrito dentro
                                de los 2 semanas posteriores a la entrega.
                               </div>
                               <div style="vertical-align: inherit">
                                Los productos deben devolverse en su embalaje
                                original y en las condiciones de la entrega.
                               </div>
                              </div>
                            <br />
                             <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                El período de garantía de Accha Store corresponde
                                al período de garantía del fabricante.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                La garantía no se aplica si:
                               </div>
                               <div style="vertical-align: inherit">
                                El consumidor ha reparado y / o procesado los
                                productos entregados él mismo o han sido reparados
                                y / o procesados por terceros;
                               </div>
                               <div style="vertical-align: inherit">
                                Los productos entregados han estado expuestos a
                                circunstancias anormales o se manipulan de manera
                                descuidada o contraria a la estipulada por Accha Store
                                y / o el embalaje;
                               </div>
                               <div style="vertical-align: inherit">
                                La insuficiencia es total o parcialmente el resultado
                                de regulaciones que el gobierno ha hecho o hará
                                con respecto a la naturaleza o calidad de los
                                materiales utilizados.
                               </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  7 - Gastos en caso de devolución
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Si el consumidor ha pagado una cantidad,
                                Accha Store reembolsará esta cantidad lo antes
                                posible, pero a más tardar 10 días.
                               </div>
                              <div style="vertical-align: inherit">
                                La condición es que Accha Store ya haya
                                recibido el producto o que se pueda presentar una
                                prueba concluyente de la devolución completa.
                              </div>
                               <div style="vertical-align: inherit">
                                El reembolso se realizará a través del método
                                de pago especificado por el cliente.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                En caso de daño del producto debido a una
                                manipulación descuidada por parte del propio
                                consumidor, el consumidor es responsable de
                                cualquier depreciación del producto.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                El consumidor no se hace responsable de una
                                disminución en el valor del producto si Accha Store
                                no ha proporcionado toda la información legalmente
                                requerida sobre la garantía,
                                esto debe hacerse antes de la celebración del
                                acuerdo de compra.
                               </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  8 - El precio
                              </div>
                              </div>
                            <br />
                             <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Durante el período de validez indicado en la
                                oferta, los precios de los productos y / o
                                servicios ofrecidos no se incrementarán, excepto
                                por cambios de precio como resultado de cambios
                                en las tasas de IVA.
                              </div>
                             </div
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Contrario al párrafo anterior, Accha Store puede
                                ofrecer productos o servicios cuyos precios estén
                                sujetos a fluctuaciones en el mercado financiero
                                y sobre los cuales Accha Store no tiene influencia,
                                a precios variables.
                               </div>
                               <div style="vertical-align: inherit">
                                las fluctuaciones y el hecho de que los precios
                                indicados son precios indicativos se indican en
                                la oferta.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Los aumentos de precio dentro de los 3 meses
                                posteriores a la celebración del acuerdo solo
                                están permitidos si son el resultado de
                                regulaciones o disposiciones legales.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Los aumentos de precio luego de los 3 meses
                                después de la conclusión del acuerdo solo están
                                permitidos si Accha Store lo ha estipulado y:
                                <div style="vertical-align: inherit">
                                  a.  Son el resultado de regulaciones o disposiciones legales;
                                </div>
                                <div style="vertical-align: inherit">
                                  o
                                </div>
                                <div style="vertical-align: inherit">
                                  a.  Son el resultado de regulaciones o disposiciones legales;
                                </div>
                               </div>

                              </div>
                            <br />
                            <div style="vertical-align: inherit"
                              <div style="vertical-align: inherit">
                                a.  Son el resultado de regulaciones o disposiciones legales;
                              </div>
                              <div style="vertical-align: inherit">
                                o
                              </div>
                              <div style="vertical-align: inherit">
                                b. el consumidor tiene la autoridad para cancelar
                                el acuerdo el día en que surta efecto el aumento de precio.
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Los precios indicados en la oferta de productos
                                o servicios incluyen el IVA.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Todos los precios están sujetos a errores de impresión y mecanografía.
                                </div>
                              <div style="vertical-align: inherit">
                                No se acepta ninguna responsabilidad por las
                                consecuencias de los errores de impresión y tipografía.
                              </div>
                              <div style="vertical-align: inherit">
                                En caso de errores de imprenta y mecanografiado,
                                Accha Store no está obligado a entregar el
                                producto a un precio incorrecto.
                              </div>
                              </div>
                          </p>

                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  9 - Entrega e implementación
                              </div>
                            </div>
                          <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Accha Store tendrá el mayor cuidado posible al
                                recibir e implementar pedidos de productos y al
                                evaluar las solicitudes para la prestación de
                                servicios.
                              </div>
                            </div>
                          <br />
                           <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                El lugar de entrega es la dirección que el
                                consumidor da a conocer a la empresa.
                              </div>
                            </div>
                          <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Accha Store ejecutará los pedidos aceptados de
                                manera expedita, pero no más tarde de 30 días,
                                a menos que el consumidor haya acordado un plazo
                                de entrega mayor.
                              </div>
                              <div style="vertical-align: inherit">
                                Si la entrega se retrasa, o si un pedido no puede
                                ejecutarse total o parcialmente, se notificará
                                al consumidor a más tardar 30 días después de
                                realizar el pedido.
                              </div>
                              <div style="vertical-align: inherit">
                                En ese caso, el consumidor tiene derecho a
                                rescindir el contrato sin costes.
                              </div>
                               <div style="vertical-align: inherit">
                                El consumidor no tiene derecho a compensación.
                              </div>
                            </div>
                          <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Todos los plazos de entrega son orientativos.
                              </div>
                              <div style="vertical-align: inherit">
                                El consumidor no puede derivar ningún derecho
                                de los términos establecidos.
                              </div>
                              <div style="vertical-align: inherit">
                                Exceder un plazo no da derecho al consumidor a compensación.
                              </div>
                             </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                En caso de disolución de acuerdo, Accha Store
                                reembolsará la cantidad que el consumidor haya
                                pagado lo antes posible, pero a más tardar 10 días
                                después de la disolución.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                 Si la entrega de un producto pedido resulta
                                 imposible, Accha Store se esforzará por poner
                                 a disposición un artículo de reemplazo.
                               </div>
                               <div style="vertical-align: inherit">
                                A más tardar en el momento de la entrega,
                                se indicará de manera clara y comprensible que
                                se está entregando un artículo de reemplazo.
                               </div>
                               <div style="vertical-align: inherit">
                                En el caso de artículos de sustitución,
                                no se puede excluir el derecho de desistimiento.
                               </div>
                               <div style="vertical-align: inherit">
                                Los gastos de un posible envío de devolución
                                corren por cuenta de Accha Store.
                               </div>
                              </div>
                            <br />
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                El riesgo de daño y / o pérdida de los productos
                                recae en Accha Store hasta el momento de la entrega
                                al consumidor o un representante designado previamente
                                dado a conocer a Accha Store, a menos que se acuerde
                                expresamente lo contrario.
                              </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  10 - Pago
                              </div>
                            </div>
                            <br />
                             <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                A menos que se acuerde lo contrario, las cantidades
                                adeudadas por el consumidor deben pagarse antes de
                                recibir el producto. En caso de un acuerdo para proporcionar un servicio,
                                el pago debe comenzar a realizarse 14 días después de que el consumidor
                                haya recibido la confirmación del acuerdo.
                               </div>
                              </div>
                            <br />
                             <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                El consumidor tiene el deber de informar a Accha
                                Store sin demora las inexactitudes en los detalles
                                de pago proporcionados o declarados.
                              </div>
                             </div>
                            <br />
                             <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                En caso de impago por parte del consumidor, Accha
                                Store tiene el derecho, sujeto a restricciones
                                legales, de cobrar los costos razonables
                                comunicados al consumidor con anticipación.
                               </div>
                              </div>
                          </p>
                          <p>
                            <div style="vertical-align: inherit">
                              <div style="vertical-align: inherit">
                                Artículo  11 - Procedimiento de reclamacionese
                              </div>
                            </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Accha Store tiene un procedimiento de reclamaciones
                                bien publicitado y maneja las reclamaciones de acuerdo
                                con este procedimiento de reclamaciones.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Las reclamaciones sobre la implementación del
                                acuerdo deben describirse completa y claramente
                                y enviarse a Accha Store dentro de los 2 semanas
                                posteriores a que el consumidor haya descubierto
                                los defectos.
                              </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Las reclamaciones presentadas a Accha Store serán
                                respondidas en un plazo de 5 días a partir de
                                la fecha de recepción.
                               </div>
                               <div style="vertical-align: inherit">
                                Si una reclamación requiere un tiempo de
                                procesamiento más largo previsible, Accha Store
                                responderá dentro de los 14 días con una confirmación
                                de recepción y una indicación de cuándo el consumidor
                                puede esperar una respuesta más detallada.
                                </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                En caso de reclamaciones, el consumidor debe dirigirse a Accha Store,
                                a través del correo electrónico.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Una reclamación no suspende las obligaciones de
                                Accha Store, a menos que el Accha Store indique
                                lo contrario por escrito.
                               </div>
                              </div>
                            <br />
                              <div style="vertical-align: inherit">
                               <div style="vertical-align: inherit">
                                Si Accha Store determina que una reclamación está
                                bien fundada, Accha Store reemplazará o reparará
                                los productos entregados sin cargo, a su elección.
                                </div>
                              </div>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
