{%extends 'base.html'%}
{% load static %}
{% block head_title %}Checkout-Accha{% endblock %}

{% block extra_links %}
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta charset="utf-8">
    <meta name="next-head-count" content="6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&amp;display=swap">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" id="elementor-global-css" href="{% static 'css/contactostyles/post-694.css' %}?20090712" media="all"/>
    <link rel="stylesheet" href="{% static 'css/general/login.css' %}?20090712" media="all"/>
    <link rel="stylesheet" href="{% static 'css/general/principal.css' %}?20090712" media="all"/>  
    <meta name="author" content="AcchaStore">
{% endblock %}

{% block content %}
  <body data-new-gr-c-s-check-loaded="14.998.0" data-gr-ext-installed="">
    <div id="__next">
      <div style="padding-top: 0px">
        <main class="elementor elementor-694">
          <section
            class="elementor-section elementor-top-section elementor-element elementor-element-68dfb2ce elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
            data-id="68dfb2ce"
            data-element_type="section"
            data-settings='{"background_background":"gradient","shape_divider_bottom":"waves"}'>
            <div class="elementor-background-overlay"></div>
            <div class="elementor-shape elementor-shape-bottom" data-negative="false">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
                                                      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
                                                      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
               </path>
              </svg>
            </div>
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5844720a"
                  data-id="5844720a"
                  data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div
                        class="elementor-element elementor-element-10ce10ef elementor-widget elementor-widget-heading is-mac"
                        data-id="10ce10ef"
                        data-element_type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h1 class="elementor-heading-title elementor-size-default">
                            Checkout
                          </h1>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4428944b elementor-widget elementor-widget-heading is-mac"
                        data-id="4428944b"
                        data-element_type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-default">
                            Rellena los siguientes campos para completar tu compra
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <ul class="custom-nav mb-5 nav nav-pills">
                  <li class="w-25 nav-item">
                    <div id="firstTitle" class="text-sm nav-link active">Datos de Facturación</div>
                  </li>
                  <li class="w-25 nav-item">
                    <div id="secondTitle" class="text-sm disabled nav-link">Método de Envío</div>
                  </li>
                  <li class="w-25 nav-item">
                    <div id="thirdTitle" class="text-sm disabled nav-link">Método de pago</div>
                  </li>
                  <li class="w-25 nav-item">
                    <div id="fourthTitle" class="text-sm disabled nav-link">Detalle de Compra</div>
                  </li>
                </ul>
                <form class="">
                    <fieldset id="stepOneCheckout">
                        <div class="collapse show">
                            <h3 class="mb-4">Datos de Facturación</h3>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label">Tipo de documento</label>
                                    <select id="fullname_invoice" name="tipo de documento" class="form-control">
                                        <option value="cedula">Cédula</option>
                                        <option value="ruc">RUC</option>
                                        <option value="pasaporte">Pasaporte</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label">Cédula/RUC/Pasaporte</label>
                                    <input type="text" placeholder="17164567890" name="numeroIdentificacion" id="fullname_invoice" value="" class="form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label"
                                    >Nombre</label
                                    ><input
                                    type="text"
                                    name="nombre"
                                    placeholder="Oliver"
                                    id="fullname_invoice"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label"
                                    >Apellido</label
                                    ><input
                                    type="text"
                                    name="apellido"
                                    placeholder="Bell"
                                    id="fullname_invoice"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label"
                                    >Teléfono/Celular</label
                                    ><input
                                    type="text"
                                    name="telefono"
                                    placeholder="0999999999"
                                    id=""
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="city_invoice" class="form-label">Provincia</label
                                    ><input
                                    type="text"
                                    name="provincia"
                                    placeholder="Pichincha"
                                    id="provincia"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label">Ciudad</label
                                    ><input
                                    type="text"
                                    name="ciudad"
                                    placeholder="Quito"
                                    id="ciudad"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label"
                                    >Dirección</label
                                    ><input
                                    type="text"
                                    name=""
                                    placeholder="Av. La Prensa"
                                    id=""
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-12 mt-3 form-group">
                                    <div class="custom-control custom-checkbox">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="show-shipping-address"
                                        name="show-shipping-address"
                                    /><label
                                        class="custom-control-label align-middle"
                                        for="show-shipping-address"
                                        >Utilizar una dirección diferente para la entrega de tu pedido</label
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse " id="infoShipping">
                            <h3 class="my-4">Datos de entrega</h3>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label">Tipo de documento</label>
                                    <select id="fullname_invoice" name="tipo de documento" class="form-control">
                                        <option value="cedula">Cédula</option>
                                        <option value="ruc">RUC</option>
                                        <option value="pasaporte">Pasaporte</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label">Cédula/RUC/Pasaporte</label>
                                    <input type="text" placeholder="17164567890" name="numeroIdentificacion" id="fullname_invoice" value="" class="form-control">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label"
                                    >Nombre</label
                                    ><input
                                    type="text"
                                    name="nombre"
                                    placeholder="Oliver"
                                    id="fullname_invoice"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="fullname_invoice" class="form-label"
                                    >Apellido</label
                                    ><input
                                    type="text"
                                    name="apellido"
                                    placeholder="Bell"
                                    id="fullname_invoice"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label"
                                    >Teléfono/Celular</label
                                    ><input
                                    type="text"
                                    name="telefono"
                                    placeholder="0999999999"
                                    id=""
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="city_invoice" class="form-label">Provincia</label
                                    ><input
                                    type="text"
                                    name="provincia"
                                    placeholder="Pichincha"
                                    id="provincia"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label">Ciudad</label
                                    ><input
                                    type="text"
                                    name="ciudad"
                                    placeholder="Quito"
                                    id="ciudad"
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="" class="form-label"
                                    >Dirección</label
                                    ><input
                                    type="text"
                                    name=""
                                    placeholder="Av. La Prensa"
                                    id=""
                                    value=""
                                    class="form-control"
                                    />
                                </div>
                                
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="stepTwoCheckout">
                        <div class="collapse ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-radio mb-4">
                                        <label class="card-label" for="option0"></label><input class="card-radio-input" type="radio" name="shipping" id="option0" checked="">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="mb-0 text-uppercase">Usps next day</h6>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="mb-3">$10.00</h6>
                                                <p class="text-muted text-sm card-text">
                                                One morning, when Gregor Samsa woke from troubled dreams, he found
                                                himself transformed in his bed into a horrible vermin.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-radio mb-4">
                                        <label class="card-label" for="option1"></label><input class="card-radio-input" type="radio" name="shipping" id="option1">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="mb-0 text-uppercase">DHL</h6>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="mb-3">$15.00</h6>
                                                <p class="text-muted text-sm card-text">
                                                Get it right on next day - fastest option possible.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-radio mb-4">
                                        <label class="card-label" for="option2"></label><input class="card-radio-input" type="radio" name="shipping" id="option2">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="mb-0 text-uppercase">PPL</h6>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="mb-3">$8.00</h6>
                                                <p class="text-muted text-sm card-text">
                                                Get it right on next day - fastest option possible.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-radio mb-4">
                                        <label class="card-label" for="option3"></label><input class="card-radio-input" type="radio" name="shipping" id="option3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="mb-0 text-uppercase">UPS</h6>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="mb-3">$20.00</h6>
                                                <p class="text-muted text-sm card-text">
                                                Get it right on next day - fastest option possible.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="stepThreeCheckout">
                        <div class="collapse ">
                            <div class="mb-5">
                                <div class="block mb-3" id="paymentFirst">
                                    <div class="block-header">
                                            <a href="#" class="accordion-link font-weight-bold collapsed" aria-expanded="false">Tarjeta de Crédito/Débito</a>
                                            <img src="{% static 'images/imagescheckout/visa_16_16.svg' %}" class="pagos-visa">
                                            <img src="{% static 'images/imagescheckout/master_16_16.svg' %}" class="pagos-master">
                                    </div>
                                    <div class="collapse" style="">
                                        <div class="block-body">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label for="card-name" class="form-label">Nombre en la tarjeta</label>
                                                    <input name="card-name" placeholder="Oliver Bell" type="text" class="form-control" value="">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label for="card-number" class="form-label">Número de tarjeta</label>
                                                    <input name="card-number" placeholder="3142 XXXX XXXX XXXX" type="text" class="form-control" value="">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label for="expiry-date" class="form-label">Fecha de expiración</label>
                                                    <input name="expiry-date" placeholder="MM/YY" type="text" class="form-control" value="">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label for="cvv" class="form-label">CVC/CVV</label>
                                                    <input name="cvv" placeholder="123" type="text" class="form-control" value="">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label for="zip" class="form-label">ZIP</label>
                                                    <input name="zip" placeholder="123" type="text" class="form-control" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block mb-3" id="paymentSecond">
                                    <div class="block-header">
                                        <a href="#" class="accordion-link font-weight-bold" aria-expanded="true">Paypal</a>
                                    </div>
                                    <div class="collapse" style="">
                                        <div class="block-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-radio custom-control">
                                                        <input type="radio"  id="payment-method-1"  name="payment"  class="custom-control-input">
                                                        <label class="custom-control-label" for="payment-method-1">
                                                            <span class="d-block h6 mt-1 mb-3">Pay with PayPal</span>
                                                            <span class="text-muted text-sm">
                                                                One morning, when Gregor Samsa woke from troubled dreams,
                                                                he found himself transformed in his bed into a horrible
                                                                vermin. He lay on his armour-like back, and if he lifted his
                                                                head a little he could see his brown belly, slightly domed
                                                                and divided by arches into stiff sections
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block mb-3" id="paymentThird">
                                    <div class="block-header">
                                        <a href="#" class="accordion-link font-weight-bold collapsed" aria-expanded="false">Transferencia Bancaria</a>
                                    </div>
                                    <div class="collapse" style="">
                                        <div class="block-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="custom-radio custom-control">
                                                        <input type="radio"  id="payment-method-2"  name="payment"  class="custom-control-input">
                                                        <label class="custom-control-label" for="payment-method-2">
                                                            <span class="d-block h6 mt-1 mb-3">Transferencia Bancaria</span>
                                                            <span class="text-muted text-sm">
                                                                The bedding was hardly able to cover it and seemed ready to
                                                                slide off any moment. His many legs, pitifully thin compared
                                                                with the size of the rest of him, waved about helplessly as
                                                                he looked. &amp;quot;What's happened to me?&amp;quot; he
                                                                thought. It wasn't a dream.
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="my-5 d-flex justify-content-between flex-column flex-lg-row">
                        <div href="" class="text-muted btn btn-link" id="controlReturn"><i class="fa fa-angle-left mr-2"></i>Regresar a la tienda</div>
                        <div id="lastStep">
                            <div href="" class="btn btn-dark" id="controlSteps">Siguiente<i class="fa fa-angle-right ml-2"></i></div>
                        </div>
                    </div>
                </form>
              </div>
              <div class="col-lg-4">
                <div class="block mb-5">
                  <div class="block-header">
                    <h6 class="text-uppercase mb-0">Resumen de tu orden</h6>
                  </div>
                  <div class="block-body bg-light pt-1">
                    <p class="text-sm">
                      Los gastos de envío y los costes adicionales se 
                      calculan en función de los valores que haya introducido.
                    </p>
                    <ul class="order-summary mb-0 list-unstyled">
                      <li class="order-summary-item">
                        <span>Subtotal</span><span>$13.50</span>
                      </li>
                      <li class="order-summary-item">
                        <span>Embarque y envío</span><span>$3.36</span>
                      </li>
                      <li class="order-summary-item">
                        <span>IVA</span><span>$1.56</span>
                      </li>
                      <li class="order-summary-item border-0">
                        <span>Total</span
                        ><strong class="order-summary-total">$18.42</strong>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    
  </body>
  <script>
    $(document).ready(function(){
        $("#show-shipping-address").click(function(){
           if($(this).prop("checked") == true){
                $("#infoShipping").addClass("show");
            }
            else if($(this).prop("checked") == false){
                $("#infoShipping").removeClass("show");
            }
        });
        $("#controlSteps").click(function(){
            var firstStep = $("#stepOneCheckout").find(">:first-child").toggleClass("collapse");
            var secondStep = $("#stepTwoCheckout").find(".collapse");
            var thirdStep = $("#stepThreeCheckout").children(".collapse");
            
            if(firstStep.hasClass('show')){
                $("#stepOneCheckout").css("display", "none");
                $("#firstTitle").removeClass("active");
                $("#firstTitle").addClass("disabled");
                firstStep.removeClass("show");
                secondStep.addClass("show");
                $("#secondTitle").removeClass("disabled");
                $("#secondTitle").addClass("active");
                $("#controlReturn").html("Regresar a Datos de Facturación");
                $("#stepTwoCheckout").css("display", "block");
                
            } else if(secondStep.hasClass('show')){
                $("#stepTwoCheckout").css("display", "none");
                $("#secondTitle").removeClass("active");
                $("#secondTitle").addClass("disabled");
                $("#thirdTitle").removeClass("disabled");
                $("#thirdTitle").addClass("active");
                $("#stepThreeCheckout").css("display", "block");
                secondStep.removeClass("show");
                thirdStep.addClass("show");

                $("#controlReturn").html("Regresar a Método de envío");
            } else if(thirdStep.hasClass('show')){
                $("#thirdTitle").removeClass("active");
                $("#thirdTitle").addClass("disabled");
                $("#fourthTitle").removeClass("disabled");
                $("#fourthTitle").addClass("active");
                $("#controlReturn").html("Regresar a método de pago");
                $("#controlSteps").html("Ordenar");
            }
        });
        $("#controlReturn").click(function(){
            var firstStep = $("#stepOneCheckout").find(">:first-child").toggleClass("collapse");
            var secondStep = $("#stepTwoCheckout").children(".collapse");
            var thirdStep = $("#stepThreeCheckout").children(".collapse");
            console.log(firstStep);
            if(firstStep.hasClass('show')){
                
                alert("I am in the first container")
            } else if(secondStep.hasClass('show')){
                $("#stepTwoCheckout").css("display", "none");
                $("#secondTitle").removeClass("active");
                $("#secondTitle").addClass("disabled");
                $("#firstTitle").removeClass("disabled");
                $("#firstTitle").addClass("active");
                $("#stepOneCheckout").css("display", "block");
                secondStep.removeClass("show");
                firstStep.addClass("show");
            } else if(thirdStep.hasClass('show')){
                $("#stepThreeCheckout").css("display", "none");
                $("#thirdTitle").removeClass("active");
                $("#thirdTitle").addClass("disabled");
                $("#secondTitle").removeClass("disabled");
                $("#secondTitle").addClass("active");
                $("#stepTwoCheckout").css("display", "block");
                thirdStep.removeClass("show");
                secondStep.addClass("show");
            }
        });
        $("#paymentFirst").click(function(){
           if($(this).find(">:first-child").toggleClass("collapse").hasClass("show") == true){
                $(this).children(".collapse").removeClass("show");
            }else{
                $(this).children(".collapse").addClass("show");
            }
        });



    });
  
  </script>
{% endblock %}