.elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container {
    max-width: 1200px;
    min-height: 350px;
}

.elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-bc-flex-widget .elementor-694 .elementor-element.elementor-element-5844720a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-5844720a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-10ce10ef {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-10ce10ef .elementor-heading-title {
    color: #ffffff;
    font-family: "Varela Round", Sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
}

.elementor-694 .elementor-element.elementor-element-10ce10ef > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-4428944b {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-4428944b .elementor-heading-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.elementor-694 .elementor-element.elementor-element-4428944b > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-68dfb2ce:not(.elementor-motion-effects-element-type-background), .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(130deg, #0A2661 0%, #0A2661 80%);
}

.elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-background-overlay {
    background-image: url("../../images/imagescontacto/BG-contact-hero-New-1.png"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-694 .elementor-element.elementor-element-68dfb2ce {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-shape-bottom svg {
    width: calc(260% + 1.3px);
    height: 120px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-694 .elementor-element.elementor-element-118e38f8 > .elementor-container {
    max-width: 1200px;
}

.elementor-bc-flex-widget .elementor-694 .elementor-element.elementor-element-6a65ca33.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-6a65ca33.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-6a65ca33:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated, .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated > .elementor-background-overlay, .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10% 12% 10% 12%;
}

.elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-694 .elementor-element.elementor-element-5986722 {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-5986722 .elementor-heading-title {
    font-family: "Work Sans", Sans-serif;
    font-size: 2em;
    font-weight: 500;
}

.elementor-694 .elementor-element.elementor-element-5986722 > .elementor-widget-container {
    margin: 0% 0% 5% 0%;
}

.elementor-694 .elementor-element.elementor-element-5986722 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 25px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -25px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-694 .elementor-element.elementor-element-186aae39 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-694 .elementor-element.elementor-element-186aae39 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-694 .elementor-element.elementor-element-186aae39 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group .elementor-field {
    color: var(--e-global-color-primary);
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group .elementor-field, .elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-subgroup label {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #EFEFEF;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-field-group .elementor-select-wrapper select {
    background-color: #EFEFEF;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button {
    font-family: "Varela Round", Sans-serif;
    font-size: 16px;
    border-radius: 30px 30px 30px 30px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .e-form__buttons__wrapper__button-next {
    background-color: #0A2661;
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button[type="submit"] {
    background-color: #0A2661;
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .e-form__buttons__wrapper__button-next:hover {
    background-color: #47AD55;
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button[type="submit"]:hover {
    background-color: #47AD55;
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-694 .elementor-element.elementor-element-186aae39 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-694 .elementor-element.elementor-element-186aae39 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-694 .elementor-element.elementor-element-1b150cf4.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-1b150cf4.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-694 .elementor-element.elementor-element-1b150cf4 > .elementor-element-populated {
    padding: 0% 12% 0% 12%;
}

.elementor-694 .elementor-element.elementor-element-d982138 {
    text-align: left;
}

.elementor-694 .elementor-element.elementor-element-d982138 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Varela Round", Sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
}

.elementor-694 .elementor-element.elementor-element-d982138 > .elementor-widget-container {
    margin: -3% 0% 0% 0%;
}

.elementor-694 .elementor-element.elementor-element-d982138 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-6ed4be59 {
    color: var(--e-global-color-primary);
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-694 .elementor-element.elementor-element-6ed4be59 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-1f937c5 .elementor-heading-title {
    font-family: "Work Sans", Sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.elementor-694 .elementor-element.elementor-element-1f937c5 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-80259ef {
    color: var(--e-global-color-primary);
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-694 .elementor-element.elementor-element-80259ef > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-hours-row.elementor-repeater-item-c7e463c .pp-business-day, .elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-hours-row.elementor-repeater-item-c7e463c .pp-business-timing {
    color: #bc1705;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-hours-row {
    padding: 8px 10px 8px 10px;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-hours-row:not(:last-child) {
    border-bottom-style: none;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-day {
    text-align: left;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 .pp-business-hours .pp-business-timing {
    text-align: right;
}

.elementor-694 .elementor-element.elementor-element-dbb8cd2 > .tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-694 .elementor-element.elementor-element-118e38f8 > .elementor-background-overlay {
    background-image: url("../../images/imagescontacto/BG-Form-Contact-Us.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-694 .elementor-element.elementor-element-118e38f8 .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(360deg);
}

.elementor-694 .elementor-element.elementor-element-118e38f8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 8% 0% 8% 0%;
}

@media (max-width: 1024px) and(min-width: 768px) {
    .elementor-694 .elementor-element.elementor-element-6a65ca33 {
        width: 100%;
    }

    .elementor-694 .elementor-element.elementor-element-1b150cf4 {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container {
        min-height: 350px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-694 .elementor-element.elementor-element-5844720a > .elementor-element-populated {
        padding: 5px 5px 5px 5px;
    }

    .elementor-694 .elementor-element.elementor-element-10ce10ef .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-background-overlay {
        background-position: center left;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-shape-bottom svg {
        height: 195px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce {
        padding: 0% 5% 0% 5%;
    }

    .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated {
        margin: 5% 5% 5% 5%;
    }

    .elementor-694 .elementor-element.elementor-element-1b150cf4 > .elementor-element-populated {
        margin: 5% 0% 5% 0%;
    }

    .elementor-694 .elementor-element.elementor-element-d982138 {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-d982138 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-694 .elementor-element.elementor-element-6ed4be59 .elementor-text-editor {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-80259ef .elementor-text-editor {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-118e38f8 > .elementor-background-overlay {
        background-position: -535px 0px;
        background-size: cover;
    }

    .elementor-694 .elementor-element.elementor-element-118e38f8 {
        margin-top: 15%;
        margin-bottom: 10%;
        padding: 0% 5% 0% 5%;
    }
}

@media (max-width: 767px) {
    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container {
        min-height: 200px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-694 .elementor-element.elementor-element-10ce10ef {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-10ce10ef .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-694 .elementor-element.elementor-element-4428944b {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-4428944b .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce > .elementor-shape-bottom svg {
        height: 50px;
    }

    .elementor-694 .elementor-element.elementor-element-68dfb2ce {
        padding: 10% 5% 0% 5%;
    }

    .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated, .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated > .elementor-background-overlay, .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-694 .elementor-element.elementor-element-6a65ca33 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 10% 10% 10% 10%;
    }

    .elementor-694 .elementor-element.elementor-element-1b150cf4 > .elementor-element-populated {
        padding: 5% 5% 5% 5%;
    }

    .elementor-694 .elementor-element.elementor-element-d982138 {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-d982138 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-694 .elementor-element.elementor-element-6ed4be59 .elementor-text-editor {
        text-align: center;
    }

    .elementor-694 .elementor-element.elementor-element-80259ef .elementor-text-editor {
        text-align: left;
    }

    .elementor-694 .elementor-element.elementor-element-118e38f8 {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

