{%extends 'base.html'%}
{% load static %}


{% block extra_links %}
{% endblock %}

{% block content %}
<!--Contacto start-->
<div id="content" class="site-content">
    <div class="ast-container">
      <div id="primary" class="content-area primary">
        <main id="main" class="site-main">
          <article
            class="post-694 page type-page status-publish ast-article-single"
            id="post-694"
            itemtype="https://schema.org/CreativeWork"
            itemscope="itemscope"
          >
            <header class="entry-header ast-header-without-markup"></header>
            <!-- .entry-header -->

            <div class="entry-content clear" itemprop="text">
              <div
                data-elementor-type="wp-page"
                data-elementor-id="694"
                class="elementor elementor-694"
                data-elementor-settings="[]"
              >
                <div class="elementor-inner">
                  <div class="elementor-section-wrap">
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-68dfb2ce elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
                      data-id="68dfb2ce"
                      data-element_type="section"
                      data-settings='{"background_background":"gradient","shape_divider_bottom":"waves"}'
                    >
                      <div class="elementor-background-overlay"></div>
                      <div
                        class="elementor-shape elementor-shape-bottom"
                        data-negative="false"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 1000 100"
                          preserveAspectRatio="none"
                        >
                          <path
                            class="elementor-shape-fill"
                            d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
                                              c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
                                              c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"
                          ></path>
                        </svg>
                      </div>
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5844720a"
                            data-id="5844720a"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-10ce10ef elementor-widget elementor-widget-heading is-mac"
                                  data-id="10ce10ef"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h1
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Contáctanos
                                    </h1>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-4428944b elementor-widget elementor-widget-heading is-mac"
                                  data-id="4428944b"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h3
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Estaremos encantados en ayudarte
                                    </h3>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-118e38f8 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="118e38f8"
                      data-element_type="section"
                      data-settings='{"background_background":"classic"}'
                    >
                      <div class="elementor-background-overlay"></div>
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6a65ca33"
                            data-id="6a65ca33"
                            data-element_type="column"
                            data-settings='{"background_background":"classic","motion_fx_motion_fx_scrolling":"yes","motion_fx_translateY_effect":"yes","motion_fx_translateY_direction":"negative","motion_fx_translateY_speed":{"unit":"px","size":"1","sizes":[]},"motion_fx_devices":["desktop","tablet"],"motion_fx_translateY_affectedRange":{"unit":"%","size":"","sizes":{"start":0,"end":100}}}'
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-5986722 elementor-widget elementor-widget-heading is-mac"
                                  data-id="5986722"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Formulario de contacto
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-186aae39 elementor-button-align-stretch elementor-widget elementor-widget-form is-mac"
                                  data-id="186aae39"
                                  data-element_type="widget"
                                  data-settings='{"step_next_label":"Volgende","step_previous_label":"Vorige","button_width":"100","step_type":"number_text","step_icon_shape":"circle"}'
                                  data-widget_type="form.default"
                                >
                                  <div class="elementor-widget-container">
                                    <form
                                      class="elementor-form"
                                      method="post"
                                      name="New Form"
                                    >
                                      <input
                                        type="hidden"
                                        name="post_id"
                                        value="694"
                                      />
                                      <input
                                        type="hidden"
                                        name="form_id"
                                        value="186aae39"
                                      />

                                      <input
                                        type="hidden"
                                        name="queried_id"
                                        value="694"
                                      />

                                      <div
                                        class="elementor-form-fields-wrapper elementor-labels-"
                                      >
                                        <div
                                          class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_b0cf6e6 elementor-col-100 elementor-field-required"
                                        >
                                          <label
                                            for="form-field-field_b0cf6e6"
                                            class="elementor-field-label elementor-screen-only"
                                            >nombre</label
                                          ><input
                                            size="1"
                                            type="text"
                                            name="form_fields[field_b0cf6e6]"
                                            id="form-field-field_b0cf6e6"
                                            class="elementor-field elementor-size-md elementor-field-textual"
                                            placeholder="Nombre completo"
                                            required="required"
                                            aria-required="true"
                                          />
                                        </div>
                                        <div
                                          class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-field_1 elementor-col-100 elementor-field-required"
                                        >
                                          <label
                                            for="form-field-field_1"
                                            class="elementor-field-label elementor-screen-only"
                                            >email</label
                                          ><input
                                            size="1"
                                            type="email"
                                            name="form_fields[field_1]"
                                            id="form-field-field_1"
                                            class="elementor-field elementor-size-md elementor-field-textual"
                                            placeholder="E-mail"
                                            required="required"
                                            aria-required="true"
                                          />
                                        </div>
                                        <div
                                          class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-email elementor-col-50"
                                        >
                                          <label
                                            for="form-field-email"
                                            class="elementor-field-label elementor-screen-only"
                                            >telefono</label
                                          ><input
                                            size="1"
                                            type="tel"
                                            name="form_fields[email]"
                                            id="form-field-email"
                                            class="elementor-field elementor-size-md elementor-field-textual"
                                            placeholder="Número de teléfono móvil"
                                            pattern="[0-9()#&amp;+*-=.]+"
                                            title="Only numbers and phone characters (#, -, *, etc) are accepted."
                                          />
                                        </div>
                                        <div
                                          class="elementor-field-type-number elementor-field-group elementor-column elementor-field-group-name elementor-col-50 elementor-field-required"
                                        >
                                          <label
                                            for="form-field-name"
                                            class="elementor-field-label elementor-screen-only"
                                            >orden</label
                                          ><input
                                            type="number"
                                            name="form_fields[name]"
                                            id="form-field-name"
                                            class="elementor-field elementor-size-md elementor-field-textual"
                                            placeholder="Número de orden"
                                            required="required"
                                            aria-required="true"
                                            min=""
                                            max=""
                                          />
                                        </div>
                                        <div
                                          class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required"
                                        >
                                          <label
                                            for="form-field-message"
                                            class="elementor-field-label elementor-screen-only"
                                            >Bericht</label
                                          ><textarea
                                            class="elementor-field-textual elementor-field elementor-size-md"
                                            name="form_fields[message]"
                                            id="form-field-message"
                                            rows="4"
                                            placeholder="Mensaje"
                                            required="required"
                                            aria-required="true"
                                          ></textarea>
                                        </div>
                                        <div
                                          class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons"
                                        >
                                          <button
                                            type="submit"
                                            class="elementor-button elementor-size-md"
                                          >
                                            <span>
                                              <span
                                                class="elementor-align-icon-right elementor-button-icon"
                                              >
                                                <i
                                                  aria-hidden="true"
                                                  class="fas fa-arrow-right"
                                                ></i>
                                              </span>
                                              <span
                                                class="elementor-button-text"
                                                >Enviar</span
                                              >
                                            </span>
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1b150cf4"
                            data-id="1b150cf4"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-d982138 elementor-widget elementor-widget-heading is-mac"
                                  data-id="d982138"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      ¿Tienes alguna pregunta o comentario?
                                      Nos encantaría escucharlo.
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-6ed4be59 elementor-widget elementor-widget-text-editor is-mac"
                                  data-id="6ed4be59"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div
                                      class="elementor-text-editor elementor-clearfix"
                                    >
                                      <p>
                                        Acchastore está disponible todos los
                                        días. Puedes ponerte en contacto con
                                        nosotros por correo electrónico,
                                        WhatsApp o mediante el formulario de
                                        contacto. Responderemos a tu mensaje
                                        en un plazo de 6 horas.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-1f937c5 elementor-widget elementor-widget-heading is-mac"
                                  data-id="1f937c5"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Datos de contacto
                                    </h2>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-80259ef elementor-widget elementor-widget-text-editor is-mac"
                                  data-id="80259ef"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div
                                      class="elementor-text-editor elementor-clearfix"
                                    >
                                      <p>
                                        012 – 34 56 789<br />uncorreoelectronico@gmail.com<br /><br /><span
                                          style="font-size: 16px"
                                          >Casa de Victor Hugo<br /></span
                                        ><span style="font-size: 16px"
                                          >Casa de Victor Hugo</span
                                        >
                                      </p>
                                      <p>
                                        Contacto alternativo: 0123456789
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-dbb8cd2 elementor-widget elementor-widget-pp-business-hours is-mac"
                                  data-id="dbb8cd2"
                                  data-element_type="widget"
                                  data-widget_type="pp-business-hours.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="pp-business-hours">
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-44ead0b"
                                      >
                                        <span class="pp-business-day">
                                          Lunes
                                        </span>
                                        <span class="pp-business-timing">
                                          08:00 - 21:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-9142780"
                                      >
                                        <span class="pp-business-day">
                                          Martes
                                        </span>
                                        <span class="pp-business-timing">
                                          08:00 - 21:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-5b23a04"
                                      >
                                        <span class="pp-business-day">
                                          Miercoles
                                        </span>
                                        <span class="pp-business-timing">
                                          08:00 - 21:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-d51c0e8"
                                      >
                                        <span class="pp-business-day"
                                          >Jueves</span
                                        >
                                        <span class="pp-business-timing">
                                          08:00 - 21:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-32626fa"
                                      >
                                        <span class="pp-business-day">
                                          Viernes
                                        </span>
                                        <span class="pp-business-timing">
                                          08:00 - 21:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-00b9149"
                                      >
                                        <span class="pp-business-day">
                                          Sábado
                                        </span>
                                        <span class="pp-business-timing">
                                          12:00 - 16:00
                                        </span>
                                      </div>
                                      <div
                                        class="pp-business-hours-row clearfix elementor-repeater-item-c7e463c row-closed"
                                      >
                                        <span class="pp-business-day">
                                          Domingo
                                        </span>
                                        <span class="pp-business-timing">
                                          Atención no disponible
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <!-- .entry-content .clear -->
          </article>
          <!-- #post-## -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- ast-container -->
</div>
<!--Contacto ends-->
{% endblock %}