{%extends 'base.html'%}
{% load static %}


{% block extra_links %}
{% endblock %}

{% block content %}
<!--Nosotros start-->
<div id="content" class="site-content">
    <div class="ast-container">
      <div id="primary" class="content-area primary">
        <main id="main" class="site-main">
          <article
            class="post-575 page type-page status-publish ast-article-single"
            id="post-575"
            itemtype="https://schema.org/CreativeWork"
            itemscope="itemscope"
          >
            <header class="entry-header ast-header-without-markup"></header>
            <!-- .entry-header -->

            <div class="entry-content clear" itemprop="text">
              <div
                data-elementor-type="wp-page"
                data-elementor-id="575"
                class="elementor elementor-575"
                data-elementor-settings="[]"
              >
                <div class="elementor-inner">
                  <div class="elementor-section-wrap">
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-136d8ab elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="136d8ab"
                      data-element_type="section"
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c73f82d"
                            data-id="c73f82d"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-8991cb7 elementor-widget elementor-widget-heading is-mac"
                                  data-id="8991cb7"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <h2
                                      class="elementor-heading-title elementor-size-default"
                                    >
                                      Sobre Nosotros
                                    </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-e4e9150 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="e4e9150"
                      data-element_type="section"
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a342e3c"
                            data-id="a342e3c"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-eed63ea elementor-widget elementor-widget-text-editor is-mac"
                                  data-id="eed63ea"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div
                                      class="elementor-text-editor elementor-clearfix"
                                    >
                                      <div class="page-width">
                                        <div class="grid">
                                          <div
                                            class="grid__item medium-up--five-sixths medium-up--push-one-twelfth"
                                          >
                                            <div class="rte">
                                              Acchastore es un grupo motivado
                                              y comprometido con el desarrollo
                                              de contenido creativo, visual,
                                              analítico y tecnológico en la
                                              ciudad de Quito-Ecuador que
                                              trabaja permanentemente para dar
                                              vida a ideas prácticas por medio
                                              de proyectos profesionales.
                                              Spotiglass es uno de ellos en
                                              cuanto a tendencias para quienes
                                              desean llevar la música y su
                                              conexión con ella a un nivel
                                              diferente. Dedica esa canción
                                              especial que tienes con tus
                                              seres queridos, escoge la foto y
                                              produce un recuerdo inolvidable
                                              con tu Spotiglass. Cada detalle
                                              sobre tu placa de vidrio es
                                              impresa a detalle con láser y
                                              radiación UV para garantizar la
                                              máxima calidad, duración y
                                              protección contra raspaduras.
                                              &nbsp;
                                            </div>
                                          </div>
                                          <div>
                                            <div
                                              class="elementor-element elementor-element-75d24a1 elementor-widget elementor-widget-text-editor is-mac"
                                              data-id="75d24a1"
                                              data-element_type="widget"
                                              data-widget_type="text-editor.default"
                                            >
                                              <div
                                                class="elementor-widget-container"
                                              >
                                                <div
                                                  class="elementor-text-editor elementor-clearfix"
                                                >
                                                  &nbsp;
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-07c2d4a"
                            data-id="07c2d4a"
                            data-element_type="column"
                            data-settings='{"background_background":"classic"}'
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-d8abcaa elementor-widget elementor-widget-spacer is-mac"
                                  data-id="d8abcaa"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="elementor-spacer">
                                      <div
                                        class="elementor-spacer-inner"
                                      ></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-c85a8c7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="c85a8c7"
                      data-element_type="section"
                    >
                      <div
                        class="elementor-container elementor-column-gap-default"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8a739c6"
                            data-id="8a739c6"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-f56bb4a elementor-widget elementor-widget-text-editor is-mac"
                                  data-id="f56bb4a"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div
                                      class="elementor-text-editor elementor-clearfix"
                                    >
                                      <div
                                        data-id="76f8ede6"
                                        data-element_type="widget"
                                        data-widget_type="heading.default"
                                      >
                                        <div><h4>Acchastore</h4></div>
                                      </div>
                                      <div
                                        data-id="75d24a1"
                                        data-element_type="widget"
                                        data-widget_type="text-editor.default"
                                      >
                                        <div>
                                          <div>
                                            <p>
                                              <b>Dirección</b><br />Casa de
                                              Victor Hugo<br />Casa de Victor
                                              Hugo
                                            </p>
                                            <p>
                                              Codigo postal de Victor Hugo
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f2b00a8"
                            data-id="f2b00a8"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-b991c4d elementor-widget elementor-widget-google_maps is-mac"
                                  data-id="b991c4d"
                                  data-element_type="widget"
                                  data-widget_type="google_maps.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="elementor-custom-embed">
                                      <iframe
                                        frameborder="0"
                                        scrolling="no"
                                        marginheight="0"
                                        marginwidth="0"
                                        src="https://maps.google.com/maps?q=Keizersgracht%20241&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
                                        title="Keizersgracht 241"
                                        aria-label="Keizersgracht 241"
                                      ></iframe>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <!-- .entry-content .clear -->
          </article>
          <!-- #post-## -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- ast-container -->
  </div>
<!--Nosotros endss-->
{% endblock %}