.elementor-21
  .elementor-element.elementor-element-70d0a19a
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-70d0a19a
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-7396c673 {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.7em;
}
.elementor-21
  .elementor-element.elementor-element-7396c673
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group {
  padding-right: calc(0px / 2);
  padding-left: calc(0px / 2);
  margin-bottom: 10px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-form-fields-wrapper {
  margin-left: calc(-0px / 2);
  margin-right: calc(-0px / 2);
  margin-bottom: -10px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group
  .elementor-field {
  color: #666666;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group
  .elementor-field,
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-subgroup
  label {
  font-family: "Work Sans", Sans-serif;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #dedede;
  border-width: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #dedede;
  border-width: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
}
.elementor-21 .elementor-element.elementor-element-4f05a3c8 .elementor-button {
  font-family: "Work Sans", Sans-serif;
  font-weight: 500;
  line-height: 2.7em;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 3px 3px 3px 3px;
  padding: 0px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .e-form__buttons__wrapper__button-next {
  background-color: #61ce7000;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-button[type="submit"] {
  background-color: #61ce7000;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-button[type="submit"]
  svg
  * {
  fill: #666666;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .e-form__buttons__wrapper__button-previous {
  background-color: #61ce7000;
  color: #ffffff;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .e-form__buttons__wrapper__button-next:hover {
  background-color: #dedede;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-button[type="submit"]:hover {
  background-color: #dedede;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #666666;
}
.elementor-21 .elementor-element.elementor-element-4f05a3c8 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-4f05a3c8
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-1dcb31a8
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-1dcb31a8
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-65aa31a {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-weight: 500;
}
.elementor-21
  .elementor-element.elementor-element-65aa31a
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-7969dafe
  > .elementor-element-populated {
  margin: 0% 0% 0% 0%;
}
.elementor-21
  .elementor-element.elementor-element-35f0cd15
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-35f0cd15
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu
  .elementor-item {
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 0em;
}
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu--main
  .elementor-item {
  color: #333333;
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-21
  .elementor-element.elementor-element-dad122
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #c9c9c9;
}
.elementor-21
  .elementor-element.elementor-element-dad122
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-3bc4430
  > .elementor-element-populated {
  margin: 0% 0% 0% 5%;
}
.elementor-21
  .elementor-element.elementor-element-7759b042
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-7759b042
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-6c778a0e {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 12px;
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-21
  .elementor-element.elementor-element-6c778a0e
  .elementor-widget-container {
  text-align: left;
}
.elementor-21
  .elementor-element.elementor-element-6c778a0e
  .elementor-social-icon {
  background-color: #ffffff;
  --icon-padding: 0.9em;
}
.elementor-21
  .elementor-element.elementor-element-6c778a0e
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-21
  .elementor-element.elementor-element-6c778a0e
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-21
  .elementor-element.elementor-element-6c778a0e
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-icon
  i {
  color: #000029;
  font-size: 30px;
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  .elementor-icon-list-icon
  svg {
  fill: #000029;
  width: 30px;
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  > .elementor-widget-container {
  margin: 2% 0% 0% 0%;
  padding: 0px 5px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-72d3f8f3
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-7b5b9f09
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-21 .elementor-element.elementor-element-1235119 {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-1235119
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-4355fdf6
  .elementor-heading-title {
  color: #333333;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-4355fdf6
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-59bf2069 {
  text-align: right;
}
.elementor-21
  .elementor-element.elementor-element-59bf2069
  .elementor-heading-title {
  color: #333333;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-59bf2069
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-7b5b9f09 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(255, 255, 255, 0.59);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-7b5b9f09
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-21
  .elementor-element.elementor-element-29cdbff1:not(.elementor-motion-effects-element-type-background),
.elementor-21
  .elementor-element.elementor-element-29cdbff1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-85a6da8);
}
.elementor-21 .elementor-element.elementor-element-29cdbff1 {
  border-style: solid;
  border-color: #d7d8da;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 15px 0px;
}
.elementor-21
  .elementor-element.elementor-element-29cdbff1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-21
  .elementor-element.elementor-element-260ff6b8
  > .elementor-container {
  max-width: 1200px;
}
.elementor-21
  .elementor-element.elementor-element-735b14fb
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-735b14fb
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-1d252a43 {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.7em;
}
.elementor-21
  .elementor-element.elementor-element-1d252a43
  > .elementor-widget-container {
  margin: 0% 10% 0% 0%;
}
.elementor-21
  .elementor-element.elementor-element-1d252a43
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group {
  padding-right: calc(0px / 2);
  padding-left: calc(0px / 2);
  margin-bottom: 10px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-form-fields-wrapper {
  margin-left: calc(-0px / 2);
  margin-right: calc(-0px / 2);
  margin-bottom: -10px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group
  .elementor-field {
  color: #666666;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group
  .elementor-field,
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-subgroup
  label {
  font-family: "Work Sans", Sans-serif;
  font-weight: 500;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #dedede;
  border-color: #ffffff;
  border-width: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #dedede;
  border-color: #ffffff;
  border-width: 0px 0px 0px 0px;
  border-radius: 3px 3px 3px 3px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-7038327b .elementor-button {
  font-family: "Work Sans", Sans-serif;
  font-weight: 500;
  line-height: 2.7em;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 3px 3px 3px 3px;
  padding: 0px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .e-form__buttons__wrapper__button-next {
  background-color: #61ce7000;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"] {
  background-color: #61ce7000;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"]
  svg
  * {
  fill: #666666;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .e-form__buttons__wrapper__button-previous {
  background-color: #61ce7000;
  color: #ffffff;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .e-form__buttons__wrapper__button-next:hover {
  background-color: #dedede;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"]:hover {
  background-color: #dedede;
  color: #666666;
  border-color: #dedede;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #666666;
}
.elementor-21 .elementor-element.elementor-element-7038327b {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-7038327b
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-76f8ede6
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-76f8ede6
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-75d24a1 {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.7em;
}
.elementor-21
  .elementor-element.elementor-element-75d24a1
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-76be372a
  > .elementor-element-populated {
  margin: 0% 0% 0% 0%;
}
.elementor-21
  .elementor-element.elementor-element-3a9611dd
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-3a9611dd
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu
  .elementor-item {
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 0em;
}
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu--main
  .elementor-item {
  color: #333333;
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #c9c9c9;
}
.elementor-21
  .elementor-element.elementor-element-207a4c9b
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-39b69ebd
  > .elementor-element-populated {
  margin: 0% 0% 0% 5%;
}
.elementor-21
  .elementor-element.elementor-element-1c37b79e
  .elementor-heading-title {
  color: #333333;
  font-size: 1.1em;
  font-weight: 600;
}
.elementor-21
  .elementor-element.elementor-element-1c37b79e
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-40328ae9 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 20px;
  --grid-column-gap: 25px;
  --grid-row-gap: 0px;
}
.elementor-21
  .elementor-element.elementor-element-40328ae9
  .elementor-widget-container {
  text-align: left;
}
.elementor-21
  .elementor-element.elementor-element-40328ae9
  .elementor-social-icon {
  background-color: #ffffff;
  --icon-padding: 0em;
}
.elementor-21
  .elementor-element.elementor-element-40328ae9
  .elementor-social-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-21
  .elementor-element.elementor-element-40328ae9
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-21
  .elementor-element.elementor-element-40328ae9
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-32ff6d7 {
  color: #333333;
  font-family: "Work Sans", Sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-32ff6d7
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-icon
  i {
  color: #000029;
  font-size: 30px;
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  .elementor-icon-list-icon
  svg {
  fill: #000029;
  width: 30px;
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  > .elementor-widget-container {
  margin: 2% 0% 0% 0%;
  padding: 0px 5px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-773f2298
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-19e4231 {
  margin-top: 4%;
  margin-bottom: 0%;
}
.elementor-21
  .elementor-element.elementor-element-3e994dec
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-21
  .elementor-element.elementor-element-42a15e27
  .elementor-heading-title {
  color: #333333;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-42a15e27
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-d8a0466 {
  text-align: right;
}
.elementor-21
  .elementor-element.elementor-element-d8a0466
  .elementor-heading-title {
  color: #333333;
  font-size: 0.9em;
  font-weight: 400;
}
.elementor-21
  .elementor-element.elementor-element-d8a0466
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-3e994dec {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #d7d8da;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 0px 0px;
}
.elementor-21
  .elementor-element.elementor-element-3e994dec
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-21
  .elementor-element.elementor-element-260ff6b8:not(.elementor-motion-effects-element-type-background),
.elementor-21
  .elementor-element.elementor-element-260ff6b8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-85a6da8);
}
.elementor-21
  .elementor-element.elementor-element-260ff6b8
  > .elementor-background-overlay {
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-21 .elementor-element.elementor-element-260ff6b8 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #d7d8da;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 15px 0px;
}
@media (min-width: 768px) {
  .elementor-21 .elementor-element.elementor-element-14a84f4e {
    width: 40%;
  }
  .elementor-21 .elementor-element.elementor-element-2c72e00 {
    width: 25%;
  }
  .elementor-21 .elementor-element.elementor-element-7969dafe {
    width: 20%;
  }
  .elementor-21 .elementor-element.elementor-element-3bc4430 {
    width: 15%;
  }
  .elementor-21 .elementor-element.elementor-element-5d5c2d2 {
    width: 40%;
  }
  .elementor-21 .elementor-element.elementor-element-59f9dfd6 {
    width: 25%;
  }
  .elementor-21 .elementor-element.elementor-element-76be372a {
    width: 20%;
  }
  .elementor-21 .elementor-element.elementor-element-39b69ebd {
    width: 15%;
  }
  .elementor-21 .elementor-element.elementor-element-5371df5 {
    width: 60%;
  }
  .elementor-21 .elementor-element.elementor-element-120e0d4 {
    width: 40%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-21 .elementor-element.elementor-element-23cc57f5 {
    width: 70%;
  }
  .elementor-21 .elementor-element.elementor-element-6a9828fe {
    width: 30%;
  }
  .elementor-21 .elementor-element.elementor-element-b9778ac {
    width: 70%;
  }
  .elementor-21 .elementor-element.elementor-element-5f4a3807 {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .elementor-21
    .elementor-element.elementor-element-3bc4430
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-21
    .elementor-element.elementor-element-6c778a0e
    .elementor-social-icon {
    --icon-padding: 0.5em;
  }
  .elementor-21 .elementor-element.elementor-element-29cdbff1 {
    padding: 30px 20px 30px 20px;
  }
  .elementor-21
    .elementor-element.elementor-element-39b69ebd
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-21
    .elementor-element.elementor-element-40328ae9
    .elementor-social-icon {
    --icon-padding: 0.5em;
  }
  .elementor-21 .elementor-element.elementor-element-260ff6b8 {
    padding: 30px 20px 30px 20px;
  }
}
@media (max-width: 767px) {
  .elementor-21
    .elementor-element.elementor-element-755f6f8d
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-21
    .elementor-element.elementor-element-7396c673
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-21 .elementor-element.elementor-element-7396c673 {
    font-size: 1.1em;
  }
  .elementor-21
    .elementor-element.elementor-element-2c72e00
    > .elementor-element-populated {
    margin: 4% 0% 0% 0%;
  }
  .elementor-21 .elementor-element.elementor-element-65aa31a {
    font-size: 1em;
    line-height: 1.7em;
  }
  .elementor-21
    .elementor-element.elementor-element-7969dafe
    > .elementor-element-populated {
    margin: 0% 0% 4% 0%;
  }
  .elementor-21
    .elementor-element.elementor-element-dad122
    .elementor-nav-menu
    .elementor-item {
    font-size: 1em;
  }
  .elementor-21 .elementor-element.elementor-element-7759b042 {
    width: auto;
    max-width: auto;
  }
  .elementor-21 .elementor-element.elementor-element-6c778a0e {
    --grid-column-gap: 10px;
    width: auto;
    max-width: auto;
  }
  .elementor-21
    .elementor-element.elementor-element-6c778a0e
    > .elementor-widget-container {
    margin: 0px 0px 0px 20px;
  }
  .elementor-21
    .elementor-element.elementor-element-1235119
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-21 .elementor-element.elementor-element-4355fdf6 {
    text-align: center;
  }
  .elementor-21 .elementor-element.elementor-element-59bf2069 {
    text-align: center;
  }
  .elementor-21 .elementor-element.elementor-element-7b5b9f09 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .elementor-21 .elementor-element.elementor-element-29cdbff1 {
    border-width: 1px 0px 0px 0px;
    padding: 30px 20px 30px 20px;
  }
  .elementor-21 .elementor-element.elementor-element-29cdbff1,
  .elementor-21
    .elementor-element.elementor-element-29cdbff1
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-21
    .elementor-element.elementor-element-649e124e
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-21 .elementor-element.elementor-element-5d5c2d2 {
    width: 50%;
  }
  .elementor-21 .elementor-element.elementor-element-59f9dfd6 {
    width: 50%;
  }
  .elementor-21 .elementor-element.elementor-element-76be372a {
    width: 50%;
  }
  .elementor-21
    .elementor-element.elementor-element-76be372a
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
  }
  .elementor-21
    .elementor-element.elementor-element-39b69ebd
    > .elementor-element-populated {
    margin: 30px 0px 0px 0px;
  }
  .elementor-21 .elementor-element.elementor-element-d8a0466 {
    text-align: left;
  }
  .elementor-21 .elementor-element.elementor-element-3e994dec {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .elementor-21 .elementor-element.elementor-element-260ff6b8 {
    padding: 30px 20px 30px 20px;
  }
} /* Start custom CSS for form, class: .elementor-element-4f05a3c8 */
.elementor-23
  .elementor-element.elementor-element-722b99d3
  .elementor-button[type="submit"] {
  margin-left: -3px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-6c778a0e */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-4f05a3c8 */
.elementor-23
  .elementor-element.elementor-element-722b99d3
  .elementor-button[type="submit"] {
  margin-left: -3px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-6c778a0e */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-4f05a3c8 */
.elementor-23
  .elementor-element.elementor-element-722b99d3
  .elementor-button[type="submit"] {
  margin-left: -3px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-6c778a0e */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-4f05a3c8 */
.elementor-23
  .elementor-element.elementor-element-722b99d3
  .elementor-button[type="submit"] {
  margin-left: -3px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-6c778a0e */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-7038327b */
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"] {
  margin-left: -4px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-40328ae9 */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-7038327b */
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"] {
  margin-left: -4px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-40328ae9 */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-7038327b */
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"] {
  margin-left: -4px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-40328ae9 */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-7038327b */
.elementor-21
  .elementor-element.elementor-element-7038327b
  .elementor-button[type="submit"] {
  margin-left: -4px;
} /* End custom CSS */
/* Start custom CSS for social-icons, class: .elementor-element-40328ae9 */
.elementor-23
  .elementor-element.elementor-element-7cd97864
  .elementor-social-icon {
  margin-right: 1em;
} /* End custom CSS */
