.elementor-13
  .elementor-element.elementor-element-7359600c
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-3ba8a0d8
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-6777e03a.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-6777e03a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-6777e03a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-71ccac5d {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-71ccac5d
  .elementor-heading-title {
  color: var(--e-global-color-85a6da8);
  font-family: "Karla", Sans-serif;
  font-size: 0.95em;
  font-weight: 700;
}
.elementor-13
  .elementor-element.elementor-element-71ccac5d
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-3ba8a0d8:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-3ba8a0d8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(110deg, #0e518f 0%, #1d5ed6 100%);
}
.elementor-13 .elementor-element.elementor-element-3ba8a0d8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-3ba8a0d8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-3bd131ad
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-72fd9384.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-72fd9384.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-72fd9384
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu
  .elementor-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-item {
  color: #16163f;
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #c7a04d;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-framed
  .elementor-item:before {
  border-width: 0px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 0px 0px 0 0;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 0px 0 0 0px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 0px 0px 0;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-underline
  .elementor-item:after,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-overline
  .elementor-item:before,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-double-line
  .elementor-item:before,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .e--pointer-double-line
  .elementor-item:after {
  height: 0px;
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-right: 50px;
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-left: 50px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 50px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-menu-toggle {
  color: #16163f;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown {
  background-color: #ededed;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-menu-toggle:hover {
  color: #d3b574;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: rgba(0, 0, 0, 0);
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: #d3b574;
  background-color: rgba(0, 0, 0, 0);
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  .elementor-nav-menu--dropdown,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--dropdown
  a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: 15px !important;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  div.elementor-menu-toggle {
  color: #16163f;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  .elementor-menu-toggle {
  background-color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-53eff7ba
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-7bc7b6cb
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13 .elementor-element.elementor-element-7bc7b6cb .elementor-icon i,
.elementor-13
  .elementor-element.elementor-element-7bc7b6cb
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-13
  .elementor-element.elementor-element-7bc7b6cb
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-578b7009
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13 .elementor-element.elementor-element-578b7009 .elementor-icon i,
.elementor-13
  .elementor-element.elementor-element-578b7009
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-13
  .elementor-element.elementor-element-578b7009
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-66ef111f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-66ef111f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-66ef111f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-fdd3967
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-134ab17f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-134ab17f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-134ab17f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-menu-cart__toggle {
  text-align: right;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-menu-cart__toggle
  .elementor-button-icon {
  color: var(--e-global-color-primary);
  font-size: 23px;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-menu-cart__toggle
  .elementor-button {
  border-width: 0px;
  padding: 6px 6px 6px 6px;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-menu-cart__toggle
  .elementor-button-icon[data-counter]:before {
  background-color: var(--e-global-color-primary);
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-menu-cart__footer-buttons
  .elementor-button {
  border-radius: 3px;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-button--view-cart {
  color: var(--e-global-color-85a6da8);
  background-color: var(--e-global-color-secondary);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-secondary);
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  .elementor-button--checkout {
  color: var(--e-global-color-85a6da8);
  background-color: #1dd660;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  > .elementor-widget-container {
  margin: 0px 0px 5px 0px;
}
.elementor-13
  .elementor-element.elementor-element-74a45b17
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-3bd131ad:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-3bd131ad
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-3bd131ad {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-3bd131ad
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-13383106 {
  z-index: 10;
}
.elementor-13
  .elementor-element.elementor-element-42a3466
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-8649a66
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-4e946e0a.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-4e946e0a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-4e946e0a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-671bfc1 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-671bfc1
  .elementor-heading-title {
  color: var(--e-global-color-85a6da8);
  font-family: "Karla", Sans-serif;
  font-size: 0.95em;
  font-weight: 700;
}
.elementor-13
  .elementor-element.elementor-element-671bfc1
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-8649a66:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-8649a66
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(110deg, #0e518f 0%, #1d5ed6 100%);
}
.elementor-13 .elementor-element.elementor-element-8649a66 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-8649a66
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-5b33ef01
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-7dc40cc7.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-7dc40cc7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-7dc40cc7
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-menu-toggle {
  margin-right: auto;
  background-color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu
  .elementor-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-item {
  color: #16163f;
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #c7a04d;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-framed
  .elementor-item:before {
  border-width: 0px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 0px 0px 0 0;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 0px 0 0 0px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 0px 0px 0;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-underline
  .elementor-item:after,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-overline
  .elementor-item:before,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-double-line
  .elementor-item:before,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .e--pointer-double-line
  .elementor-item:after {
  height: 0px;
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-right: 50px;
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-left: 50px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 50px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-menu-toggle {
  color: #16163f;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-menu-toggle:hover {
  color: #d3b574;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: rgba(0, 0, 0, 0);
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: #d3b574;
  background-color: rgba(0, 0, 0, 0);
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  .elementor-nav-menu--dropdown,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--dropdown
  a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-13
  .elementor-element.elementor-element-637107ab
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: 15px !important;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  div.elementor-menu-toggle {
  color: #16163f;
}
.elementor-13
  .elementor-element.elementor-element-637107ab
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-2965da39
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-13 .elementor-element.elementor-element-2965da39 .elementor-icon i,
.elementor-13
  .elementor-element.elementor-element-2965da39
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-13
  .elementor-element.elementor-element-2965da39
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-3cd6a8f9.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-3cd6a8f9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-3cd6a8f9
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-db17823
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-1b5a4e9a.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-1b5a4e9a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-1b5a4e9a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-menu-cart__toggle {
  text-align: right;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-menu-cart__toggle
  .elementor-button-icon {
  color: var(--e-global-color-primary);
  font-size: 23px;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-menu-cart__toggle
  .elementor-button {
  border-width: 0px;
  padding: 6px 6px 6px 6px;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-menu-cart__toggle
  .elementor-button-icon[data-counter]:before {
  background-color: var(--e-global-color-primary);
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-menu-cart__footer-buttons
  .elementor-button {
  border-radius: 3px;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-button--view-cart {
  color: var(--e-global-color-85a6da8);
  background-color: var(--e-global-color-secondary);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-secondary);
}
.elementor-13
  .elementor-element.elementor-element-945190e
  .elementor-button--checkout {
  color: var(--e-global-color-85a6da8);
  background-color: #1dd660;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  > .elementor-widget-container {
  margin: 0px 0px 5px 0px;
}
.elementor-13
  .elementor-element.elementor-element-945190e
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-5b33ef01:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-5b33ef01
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-5b33ef01 {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 13px 0px 13px 0px;
}
.elementor-13
  .elementor-element.elementor-element-5b33ef01
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-69cf95b0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 10;
}
.elementor-13
  .elementor-element.elementor-element-69cf95b0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-74d22fd3
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-59abcfc6
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-5830ae5a.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-5830ae5a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-5830ae5a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-25f8bbb3 {
  text-align: left;
}
.elementor-13
  .elementor-element.elementor-element-25f8bbb3
  .elementor-heading-title {
  color: var(--e-global-color-85a6da8);
  font-family: "Karla", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.elementor-13
  .elementor-element.elementor-element-25f8bbb3
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-6d414c71.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-6d414c71.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-6d414c71
  > .elementor-element-populated {
  margin: 0% 0% 0% 0%;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(40px / 2);
  margin-left: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-40px / 2);
  margin-left: calc(-40px / 2);
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-40px / 2);
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  font-size: 14px;
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  width: 14px;
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-text {
  color: var(--e-global-color-85a6da8);
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-item,
.elementor-13
  .elementor-element.elementor-element-169304bf
  .elementor-icon-list-item
  a {
  font-family: "Karla", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  > .elementor-widget-container {
  margin: 2% 4% -2% 4%;
  padding: 0% 0% 0% 0%;
}
.elementor-13
  .elementor-element.elementor-element-169304bf
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(40px / 2);
  margin-left: calc(40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-40px / 2);
  margin-left: calc(-40px / 2);
}
body.rtl
  .elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-40px / 2);
}
body:not(.rtl)
  .elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-40px / 2);
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-icon
  i {
  font-size: 14px;
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-icon
  svg {
  width: 14px;
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-text {
  color: var(--e-global-color-85a6da8);
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-item,
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  .elementor-icon-list-item
  a {
  font-family: "Karla", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  > .elementor-widget-container {
  margin: 2% 2% 2% 2%;
}
.elementor-13
  .elementor-element.elementor-element-66ddbed7
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-59abcfc6:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-59abcfc6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(110deg, #0e518f 0%, #1d5ed6 80%);
}
.elementor-13 .elementor-element.elementor-element-59abcfc6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-59abcfc6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-230eb979
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-437f7797.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-437f7797.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-437f7797
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-6c96a87
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-3d7f606c.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-3d7f606c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-3d7f606c
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu
  .elementor-item {
  font-family: "Work Sans", Sans-serif;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing: 0.5px;
  font-size: 16.4px;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item {
  color: #000000A3;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #1dd660;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #1dd660;
}
.elementor-13
  .elementor-element.elementor-element-9f3ca1f
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-bc-flex-widget
  .elementor-13
  .elementor-element.elementor-element-45679718.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-45679718.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-13
  .elementor-element.elementor-element-45679718
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-menu-cart__toggle {
  text-align: right;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-menu-cart__toggle
  .elementor-button-icon {
  color: var(--e-global-color-primary);
  font-size: 23px;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-menu-cart__toggle
  .elementor-button {
  border-width: 0px;
  padding: 6px 6px 6px 6px;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-menu-cart__toggle
  .elementor-button-icon[data-counter]:before {
  background-color: var(--e-global-color-primary);
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-menu-cart__footer-buttons
  .elementor-button {
  border-radius: 3px;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-button--view-cart {
  color: var(--e-global-color-85a6da8);
  background-color: var(--e-global-color-secondary);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-secondary);
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  .elementor-button--checkout {
  background-color: #1dd660;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  > .elementor-widget-container {
  margin: 0px 0px 5px 0px;
}
.elementor-13
  .elementor-element.elementor-element-7ca5cabb
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-230eb979:not(.elementor-motion-effects-element-type-background),
.elementor-13
  .elementor-element.elementor-element-230eb979
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-230eb979 {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px 0px 15px 0px;
}
.elementor-13
  .elementor-element.elementor-element-230eb979
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-13 .elementor-element.elementor-element-1a508493 {
  z-index: 10;
}
@media (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-72fd9384 {
    width: 71.664%;
  }
  .elementor-13 .elementor-element.elementor-element-66ef111f {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-134ab17f {
    width: 8%;
  }
  .elementor-13 .elementor-element.elementor-element-7dc40cc7 {
    width: 71.664%;
  }
  .elementor-13 .elementor-element.elementor-element-3cd6a8f9 {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-1b5a4e9a {
    width: 8%;
  }
  .elementor-13 .elementor-element.elementor-element-437f7797 {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-3d7f606c {
    width: 71.664%;
  }
  .elementor-13 .elementor-element.elementor-element-45679718 {
    width: 8%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-6777e03a {
    width: 75%;
  }
  .elementor-13 .elementor-element.elementor-element-72fd9384 {
    width: 15%;
  }
  .elementor-13 .elementor-element.elementor-element-66ef111f {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-134ab17f {
    width: 35%;
  }
  .elementor-13 .elementor-element.elementor-element-7dc40cc7 {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-3cd6a8f9 {
    width: 60%;
  }
  .elementor-13 .elementor-element.elementor-element-1b5a4e9a {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-5830ae5a {
    width: 5%;
  }
  .elementor-13 .elementor-element.elementor-element-6d414c71 {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-437f7797 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-3d7f606c {
    width: 15%;
  }
  .elementor-13 .elementor-element.elementor-element-45679718 {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .elementor-13
    .elementor-element.elementor-element-6777e03a
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-72fd9384
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
  }
  .elementor-13
    .elementor-element.elementor-element-66ef111f
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-134ab17f
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-3bd131ad {
    padding: 20px 15px 20px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-4e946e0a
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-13 .elementor-element.elementor-element-671bfc1 {
    text-align: center;
  }
  .elementor-13
    .elementor-element.elementor-element-671bfc1
    .elementor-heading-title {
    font-size: 1em;
  }
  .elementor-13
    .elementor-element.elementor-element-671bfc1
    > .elementor-widget-container {
    padding: 0% 0% 0% 7%;
  }
  .elementor-13
    .elementor-element.elementor-element-7dc40cc7
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
  }
  .elementor-13
    .elementor-element.elementor-element-637107ab
    > .elementor-widget-container {
    margin: 15px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-637107ab {
    width: auto;
    max-width: auto;
  }
  .elementor-13 .elementor-element.elementor-element-2965da39 .elementor-icon {
    font-size: 24px;
  }
  .elementor-13
    .elementor-element.elementor-element-2965da39
    > .elementor-widget-container {
    margin: 0px 0px 0px 20px;
  }
  .elementor-13 .elementor-element.elementor-element-2965da39 {
    width: auto;
    max-width: auto;
  }
  .elementor-13
    .elementor-element.elementor-element-3cd6a8f9
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-db17823
    .elementor-image
    img {
    width: 40%;
    width: 200px;
  }
  .elementor-13
    .elementor-element.elementor-element-1b5a4e9a
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-5b33ef01 {
    padding: 0% 3% 0% 3%;
  }
  .elementor-13
    .elementor-element.elementor-element-5830ae5a
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-6d414c71
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
  }
  .elementor-13
    .elementor-element.elementor-element-437f7797
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-3d7f606c
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-45679718
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-230eb979 {
    padding: 20px 15px 20px 15px;
  }
}
@media (max-width: 767px) {
  .elementor-13
    .elementor-element.elementor-element-7359600c
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-71ccac5d {
    text-align: center;
  }
  .elementor-13
    .elementor-element.elementor-element-71ccac5d
    .elementor-heading-title {
    font-size: 1em;
  }
  .elementor-13 .elementor-element.elementor-element-3ba8a0d8 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-72fd9384 {
    width: 25%;
  }
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: 1em;
  }
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu--dropdown
    a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 30px !important;
  }
  .elementor-13
    .elementor-element.elementor-element-53eff7ba
    > .elementor-widget-container {
    margin: 14px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-53eff7ba {
    width: auto;
    max-width: auto;
  }
  .elementor-13 .elementor-element.elementor-element-7bc7b6cb .elementor-icon {
    font-size: 20px;
  }
  .elementor-13
    .elementor-element.elementor-element-7bc7b6cb
    > .elementor-widget-container {
    margin: 20px 0px 0px 10px;
  }
  .elementor-13 .elementor-element.elementor-element-7bc7b6cb {
    width: auto;
    max-width: auto;
  }
  .elementor-13 .elementor-element.elementor-element-578b7009 .elementor-icon {
    font-size: 20px;
  }
  .elementor-13
    .elementor-element.elementor-element-578b7009
    > .elementor-widget-container {
    margin: 0px 0px 0px 10px;
  }
  .elementor-13 .elementor-element.elementor-element-578b7009 {
    width: auto;
    max-width: auto;
  }
  .elementor-13 .elementor-element.elementor-element-66ef111f {
    width: 60%;
  }
  .elementor-13
    .elementor-element.elementor-element-fdd3967
    .elementor-image
    img {
    width: 60%;
    max-width: 230px;
  }
  .elementor-13 .elementor-element.elementor-element-134ab17f {
    width: 15%;
  }
  .elementor-13 .elementor-element.elementor-element-3bd131ad {
    padding: 0% 4% 0% 4%;
  }
  .elementor-13
    .elementor-element.elementor-element-42a3466
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-8649a66 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-7dc40cc7 {
    width: 50%;
  }
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: 16px;
  }
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu--dropdown
    a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-13
    .elementor-element.elementor-element-637107ab
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
  }
  .elementor-13 .elementor-element.elementor-element-3cd6a8f9 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1b5a4e9a {
    width: 55%;
  }
  .elementor-13
    .elementor-element.elementor-element-74d22fd3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-5830ae5a {
    width: 20%;
  }
  .elementor-13 .elementor-element.elementor-element-6d414c71 {
    width: 80%;
  }
  .elementor-13 .elementor-element.elementor-element-59abcfc6 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-437f7797 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-3d7f606c {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-45679718 {
    width: 55%;
  }
}
