.elementor-575
  .elementor-element.elementor-element-136d8ab
  > .elementor-container {
  max-width: 1200px;
}
.elementor-575 .elementor-element.elementor-element-8991cb7 {
  text-align: center;
}
.elementor-575
  .elementor-element.elementor-element-8991cb7
  .elementor-heading-title {
  color: #071a0e;
}
.elementor-575
  .elementor-element.elementor-element-8991cb7
  > .elementor-widget-container {
  margin: 0% 0% 2% 0%;
}
.elementor-575
  .elementor-element.elementor-element-8991cb7
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-575 .elementor-element.elementor-element-136d8ab {
  margin-top: 4%;
  margin-bottom: 0%;
}
.elementor-575
  .elementor-element.elementor-element-e4e9150
  > .elementor-container {
  max-width: 1200px;
}
.elementor-bc-flex-widget
  .elementor-575
  .elementor-element.elementor-element-a342e3c.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-575
  .elementor-element.elementor-element-a342e3c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-575
  .elementor-element.elementor-element-a342e3c
  > .elementor-element-populated {
  padding: 5% 20% 5% 5%;
}
.elementor-575 .elementor-element.elementor-element-eed63ea {
  font-family: "Work Sans", Sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0px;
}
.elementor-575
  .elementor-element.elementor-element-eed63ea
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-575
  .elementor-element.elementor-element-07c2d4a:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-575
  .elementor-element.elementor-element-07c2d4a
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../images/quito1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-575
  .elementor-element.elementor-element-07c2d4a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-575
  .elementor-element.elementor-element-07c2d4a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-575
  .elementor-element.elementor-element-d8abcaa
  .elementor-spacer-inner {
  height: 60vh;
}
.elementor-575
  .elementor-element.elementor-element-d8abcaa
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-575 .elementor-element.elementor-element-e4e9150 {
  padding: 0% 0% 0% 0%;
}
.elementor-575
  .elementor-element.elementor-element-c85a8c7
  > .elementor-container {
  max-width: 1200px;
}
.elementor-575
  .elementor-element.elementor-element-8a739c6
  > .elementor-element-populated {
  padding: 5% 5% 5% 5%;
}
.elementor-575
  .elementor-element.elementor-element-f56bb4a
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-575
  .elementor-element.elementor-element-b991c4d
  > .tippy-popper
  .tippy-tooltip
  .tippy-content {
  text-align: center;
}
.elementor-575 .elementor-element.elementor-element-c85a8c7 {
  margin-top: 0%;
  margin-bottom: 4%;
}
